html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #c9d1d9;
    background-color: #0d1117;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 62px;
    width: 100%;
    align-items: center;
    font-size: 16px;
    top: 0;
    background-color: rgba(22, 27, 34, 1);

    a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }

    .logo {
        padding: 0 30px;
        font-size: 20px;
    }

    .logo:hover {
        color: rgba(255, 255, 255, 1);
    }

    .main-nav {
        display: flex;
        list-style-type: none;
        padding: 0 30px;
        margin: 0;
        height: 100%;

        > li {
            display: table;
            height: 100%;
            width: 150px;
            position: relative;

            > a {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            &.parent-nav {
                > a:after {
                    padding-left: 4px;
                    content: ' ▾';
                }

                &:hover {
                    > .nav-dropdown {
                        display: block;
                    }
                }
            }

            a:hover {
                color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }

            .nav-dropdown {
                display: none;
                position: absolute;
                left: 0;
                list-style-type: none;
                padding: 0;
                width: 250px;
                margin-top: 62px;
                background-color: rgba(22, 27, 34, 1);

                li {
                    display: table;
                    width: 100%;
                    height: 50px;

                    a {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

main {
    padding-top: 62px;
}

footer {
    display: flex;
    max-width: 1280px;
    height: 115px;
    margin: 0 auto;
    border-top: 1px solid grey;

    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0 30px;

        li {
            padding: 0 10px;

            a {
                text-decoration: none;
                color: #58a6ff;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:not(:first-child) {
                border-left: 1px solid grey;
            }
        }
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    @import './home.scss';
    @import './todolist.scss';
    @import './userlist.scss'
}

@import './cards.scss';