html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 70px;
    width: 100%;
    align-items: center;
    font-size: 18px;
    top: 0;
    background-color: rgba(87, 101, 116, 1);

    a {
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
    }

    .logo {
        padding: 0 30px;
        font-size: 22px;
    }

    .logo:hover {
        color: rgba(255, 255, 255, 1);
    }

    .main-nav {
        display: flex;
        list-style-type: none;
        padding: 0 30px;
        margin: 0;
        height: 100%;

        > li {
            display: table;
            height: 100%;
            width: 150px;
            position: relative;

            > a {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }

            &.parent-nav {
                > a:after {
                    padding-left: 4px;
                    content: ' ▾';
                }

                &:hover {
                    > .nav-dropdown {
                        display: block;
                    }
                }
            }

            a:hover {
                color: rgba(255, 255, 255, 1);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }

            .nav-dropdown {
                display: none;
                position: absolute;
                left: 0;
                list-style-type: none;
                padding: 0;
                width: 250px;
                margin-top: 70px;
                background-color: rgba(87, 101, 116, 1);

                li {
                    display: table;
                    width: 100%;
                    height: 60px;

                    a {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px;
                    }
                }
            }
        }
    }
}

main {
    padding-top: 70px;
}

.main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    height: calc(100vh - 70px);

    .card {
        display: grid;
        grid-template-rows: 4fr 1fr 1fr;
        height: 390px;
        width: 250px;
        border: 10px solid #f2d955;
        background-color: #efefef;
        padding: 5px;

        .card-image {
            height: 250px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .card-header {
            h3 {
                margin: 5px 0;
            }
        }

        .card-body {
            .card-element {
                span {
                    font-weight: bold;
                }
            }
            .card-description {
                display: -webkit-box;
                max-width: 100%;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}